---
import Layout from '../layouts/Layout.astro';
import SevenRings from '../components/7RingsOfRelationship.astro';
---

<Layout title="7 Rings of Relationship - Utilitas Hub">
	<div class="p-5 md:p-10">
		<h1 class="text-2xl font-bold text-green-700 mb-6">7 Rings of Relationship</h1>
		<SevenRings />
	</div>
</Layout>
