---
import Layout from '../layouts/Layout.astro';
import SevenRings from '../components/7RingsOfRelationship.astro';
---

<Layout title="7 Rings of Relationship - Utilitas Hub">
	<div class="p-5 md:p-10">
		<SevenRings />
	</div>
</Layout>
