---
import Layout from '../layouts/Layout.astro';
import BuyVSRent from '../components/BuyVSRent.astro';
---

<Layout title="Buy vs Rent - Utilitas Hub">
	<div class="p-5 md:p-10">
		<BuyVSRent />
	</div>
</Layout>
