---
import Layout from '../layouts/Layout.astro';
import DanaDaruratComponent from '../components/DanaDarurat.astro';
---

<Layout title="Dana Darurat - Utilitas Hub">
	<div class="p-5 md:p-10">
		<DanaDaruratComponent />
	</div>
</Layout>
