---
import Layout from '../layouts/Layout.astro';
import KalkulatorFire from '../components/kalkulatorFire.astro';
---

<Layout title="Kalkulator FIRE - Utilitas Hub">
	<div class="p-5 md:p-10">
		<KalkulatorFire />
	</div>
</Layout>
