---
import Layout from '../layouts/Layout.astro';
import Hipotesis from '../components/Hipotesis.astro';
---

<Layout title="Hipotesis - Utilitas Hub">
	<div class="p-5 md:p-10">
		<Hipotesis />
	</div>
</Layout>
