---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kalkulator KPR - Utilitas Hub">
	<div class="p-5 md:p-10 flex items-center justify-center min-h-screen">
		<div class="bg-white p-10 rounded-2xl shadow-xl w-full max-w-4xl text-center">
			<h2 class="text-green-700 text-2xl font-bold mb-4">Kalkulator KPR</h2>
			<p class="text-slate-600 text-lg">on development</p>
		</div>
	</div>
</Layout>
