---
import Layout from '../layouts/Layout.astro';
import KalkulatorSahamUndervalue from '../components/kalkulatorSahamUndervalue.astro';
---

<Layout title="Kalkulator Valuasi Saham Undervalue - Utilitas Hub">
	<div class="p-5 md:p-10">
		<KalkulatorSahamUndervalue />
	</div>
</Layout>
