---
import Layout from '../layouts/Layout.astro';
import ShoppingAssistantComponent from '../components/ShoppingAssist.astro';
---

<Layout title="Shopping Assistant - Utilitas Hub">
	<div class="p-5 md:p-10">
		<ShoppingAssistantComponent />
	</div>
</Layout>
